:root{
    background-color: blanchedalmond;
    background-image: url("./assets/WebsiteBackground.png");
    background-size: 300px;
    background-repeat: repeat;

    max-height: 100vh;
}

body{
    margin: 4rem 9rem;
    max-height: 100%;

    font-family: 'Capriola', sans-serif;
}

.background_overlay{
    background: #fba33f;
    background: radial-gradient(circle, rgba(251, 163, 63, 0.2) 40%, rgb(255, 115, 143, .4) 100%);

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.content_box{
    box-sizing: content-box;
    overflow: visible;
    background-color: rgb(255, 250, 245, .9);
    max-width: 120rem;
    /* max-height: 70vh; */
    margin: 7rem auto;
    padding: 2rem;

    border: 4px solid #fc466a;
    border-radius: 30px;

    position: relative;

    

    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: 'Darumadrop One', sans-serif;
    font-size: 2.5rem;

    background: #fba33f;
    background: radial-gradient(circle, rgba(251, 163, 63, 0.85) 26%, rgb(255, 115, 143) 90%);
    border: 4px solid rgb(255, 231, 231);
    color: rgb(152, 25, 55);
    margin: 0;
    padding: 1rem;
    min-width: 20rem;

    overflow: visible;
    border-radius: 80px;

    position: absolute;
    left: -80px;
    top: 0px;
    rotate: -30deg;

    z-index: 1000;

    transition: all 0.3s;
}

h2{
    font-family: 'Darumadrop One', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;

    max-width: 21rem;
}

h3{
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.1rem;

    /* width: 100%; */
}

hr{
    min-width: 100%;
}

.content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 80%;
    height: fit-content;

    /* overflow: hidden; */
    /* overflow-y: scroll; */
}

a{
    font-family: 'Capriola', sans-serif;
    font-style: normal;
    font-weight: 100;
    width: fit-content;
}

p, ol, ul{
    font-family: 'Capriola', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 100;
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

b{
    font-family: 'Capriola', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 600;
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

li{
    margin-top: 0.6rem;
}

.link_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    width: fit-content;

    text-decoration: none;
    list-style: none;

    position: absolute;
    right: 150px;
    top: 70px;
    
    rotate: -45deg;
    
    row-gap: 3rem;

    transition: all 0.5s;
}

.bubble{
    font-family: 'Darumadrop One', sans-serif;
    text-decoration: none;
    text-align: center;

    background: #fba33f;
    background: radial-gradient(circle, rgba(251, 163, 63, 0.85) 26%, rgb(255, 115, 143) 90%);
    border: 4px solid rgb(255, 231, 231);
    border-radius: 80px;
    color: rgb(152, 25, 55);
    
    padding: 1rem;
    /* margin: 1rem; */

    transition: all 0.3s;
}

.bubble_var{
    box-sizing: border-box;
    font-family: 'Darumadrop One', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;

    background: #fba33f;
    background: radial-gradient(circle, rgba(63, 195, 251, 0.5) 26%, rgba(178, 115, 255, 0.5) 90%);
    border: 4px solid rgb(231, 235, 255);
    border-radius: 80px;
    color: rgb(72, 25, 152);
    
    padding: 1rem 2rem;

    transition: all 0.3s;

    width: 100%;
}

.link1{
    position: absolute;
    rotate: -35deg;
    top: -75px;

    width: 7rem;

    transition: all 0.3s;
}

.link2{
    position: absolute;
    top: 20px;
    left: 30px;

    width: 9rem;

    transition: all 0.3s;
}

.link3{
    position: absolute;
    rotate: 30deg;
    top: 110px;

    width: 7rem;

    transition: all 0.3s;
}

.grow_on_hover{
    transition: padding 1s, z-index 0s;
}

.grow_on_hover:hover{
    padding: 1.5rem;
    z-index: 999;
}

.collapsible_content{
    display: flex;
    width: 100%;
}

.flex_cols{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    justify-content: space-between;
}

/* .flex_cols div{
    max-width: 40%;
    min-width: 12rem;

    margin: 0 1rem 1rem 1rem;
} */

.collapsible{
    box-sizing: border-box;
    font-family: 'Darumadrop One', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;

    background: #fba33f;
    background: radial-gradient(circle, #8fffa97e 26%, #7aefffbd 90%);
    border: 4px solid rgb(164, 255, 220);
    border-radius: 80px;
    color: rgb(0, 87, 22);
    
    padding: 1rem 2rem;
    margin: 1rem;

    transition: width 0.3s;

    width: 100%;
}

.collapsible:hover{
    width:105%;
}

.flex_cols .col{
    box-sizing: content-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 150px;
    width: 40%;
    margin: 1rem;
}

.flex_cols .span_col{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-width: 100%;
    justify-content: center;
}

.vis_container{
    overflow: scroll;
    width:100%;
    max-width: 100%;
}

@media screen and (max-width: 700px){
    body{
        margin: 2rem;
    }

    h1{
        font-size: 1.7rem;
        min-width: 10rem;

        top: -200px;
        left: -40px;
    }

    .content_box{
        margin-top: 15rem;
    }

    .link_list{
        top:-140px;
        left: 120px;

        rotate:60deg;
    }

    .bubble{
        padding: 0.5rem;
    }

    .link1, .link2, .link3{
        font-size: 0.9rem;
    }

    .content{
        margin: 1rem auto;
    }
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 1.2rem;
    }

    .content_box{
        padding: 0rem;
        padding-top: 1rem;
    }

    .bubble_var{
        font-size: 1rem;
        font-weight: 400;
    }

    p, ol, ul{
        font-size: 0.7rem;
    }

    .collapsible{
        font-size: 1rem;
    }
}