:root{
    background-color: blanchedalmond;
    background-image: url("./assets/WebsiteBackground.png");
    background-size: 300px;
    background-repeat: repeat;
}

body{
    margin: 4rem;
}

.content_box{
    box-sizing: border-box;
    overflow: visible;
    background-color: white;
    max-width: 70rem;
    margin: 6rem auto;
    padding: 2rem;

    border: 4px solid orange;
    border-radius: 30px;

    position: relative;
}

h1{
    text-align: center;
    background-color: orange;
    color: black;
    margin: 0;
    padding: 2rem;

    overflow: visible;
    border-radius: 80px;

    position: absolute;
    left: -40px;
    top: -40px;
    rotate: -10deg;

    z-index: 1000;
}

.content{
    margin-top: 4rem;
}